
/* GENERAL */

html, body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: white;
}
.section{
  min-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.strip{
  min-width: 100%;
  display: flex;
  justify-content: center;
}
.content{
  min-width: 960px;
  display: flex;
}
.box{
  display: flex;
}

/* HEADER */

/* logo */
#logo_container{
  flex-direction: row;
  align-items: center;
}
#logo_container img{
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}
#logo_container p{
  font-size: 1rem;
  margin: 0.66rem 0;
}

/* main_banner */
#bike_banner{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  height: 25rem;
  width: auto;
  display: flex;
  
}
#black_banner{
  background-color: black;
  font-weight: bold;
  width: 20rem;
  margin-top: 9rem;
  z-index: 5;
  display: block;
}
#black_banner #new{
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 3rem;
}
#black_banner #sport{
  font-size: 2rem;
  margin-top: 0.25rem;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

/* nav */
#nav{
  background-color: firebrick;
}
ul{
  list-style: none;
  flex-direction: row;
  justify-content: center;
}
li{
  margin: 0.75rem auto;
}
a{
  color: white;
}

/* MAIN */

main{
  background-color: white;
}
#product_list{
  z-index: 5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#product_list div{
  width: 100%;
  flex-direction: row;

}
#product{
  max-width: 30%; /*doesn't work with width 100% ?¿?*/
  border: 4px solid black;
  margin-bottom: 3rem;
  flex-direction: column;
  justify-content: center;
}
#product img{
  height: 9rem;
  width: auto;
  margin: 2rem auto;
}
#product p{
  text-align: center;
  background-color: black;
  padding: 0.5rem 0;
  align-items: center;
}
.details{
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
}
.details p{
  background-color: black;
  padding-left: 2rem;
  padding: 1rem auto;
}
#numbers{
  background-color: white;
  color: black;
}

/* FOOTER */

footer{
  height: 5rem;
  background-color: black;
  display: flex;
  align-items: center;
}
